.login {
  &__or {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 25%;
      height: 2px;
      background-color: rgb(77, 126, 218);
      left: 55%;
      top: 50%;
    }
    &::after {
      position: absolute;
      content: "";
      width: 25%;
      height: 2px;
      background-color: rgb(101, 128, 204);
      right: 55%;
      top: 50%;
    }
  }
  &__google {
    span:nth-child(1) {
      color: #4282f4;
    }
    span:nth-child(2) {
      color: #ea4335;
    }
    span:nth-child(3) {
      color: #ffbb00;
    }
    span:nth-child(4) {
      color: #4282f4;
    }
    span:nth-child(5) {
      color: #7cbb00;
    }
    span:nth-child(6) {
      color: #ea4336;
    }
  }
}
